[submodule "slothy"]
	path = slothy
	url = git@github.com:dop-amin/slothy.git
[submodule "FFmpeg"]
	path = FFmpeg
	url = git@github.com:dop-amin/FFmpeg.git
[submodule "test-profiles"]
	path = test-profiles
	url = https://github.com/phoronix-test-suite/test-profiles.git
